.pokemon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .pokemon-details img {
    width: 150px;
    height: auto;
  }